// Broadcast Message
.broadcast_message {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;

	h2, i {
		display: flex;
		flex: 0 1 auto;
		align-self: auto;
		justify-content: center;
		align-content: center;
	}
}