.schedule {
	display: flex;
	flex-flow: row wrap;

	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;

	.event {
		flex: 1 1 auto;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;

		// &.past {
		// 	color: rgb(100,100,100);
		// }

		span.time {
			font-weight: 300;
		}

		span.duration {
			font-size: 0.5em;
			margin-left: 0.5em;
		}

		p.description {
			font-size: 0.6em;
		}

		p.timeIndicator {
			font-size: 0.7em;
			font-weight: 600;
		}
	}
}