.ticker {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: content-box;
  text-overflow: clip;

  div#template {
    visibility: hidden;
    position: absolute;
  }

  ul#items {
    display: inline-block;
    white-space: nowrap;
    transform: translate3d(0, 0, 0);
    padding: 0;
    box-sizing: content-box;

    li.ticker-item {
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;

      padding-right: 4vw;

      h2, i {
        display: flex;
        flex: 0 1 auto;
        align-self: auto;
        justify-content: center;
        align-content: center;
      }
    }
  }
}