.timeline {
	svg {
		font-weight: 600;
		
		#marker:nth-child(odd) {
			text#time {
				transform: translate(0, -28px)
			}
			#name {
				transform: translate(0, -48px)
			}
		}
		#marker:nth-child(even) {
			#time {
				transform: translate(0, 28px)
			}
			#name {
				transform: translate(0, 48px)
			}
		}
	}
}