// Particles

.particles {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	padding: 0 important;
	margin: 0 !important;
	transform: none !important;
}

canvas {
	display: block;
	vertical-align: bottom;
}

.particle-js-container {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 important;
	margin: 0 !important;
	transform: none !important;
}