// Lower Third

.lower_third {
	span#job_title {
		font-size: 0.8em;
		display: block;
	}
	span#company{
		display: block;
		font-size: 0.7em;
	}
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}