// NAME="Clean"
// DESCRIPTION="Based on the default theme, this one is very similar but features rounded corners and sharp edges"

body, html{
	// Sets the font to the included Open Sans
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	
	// Sets the text-color to the intended
	// text_a value
	color: $text_a;
}

// i stands for Icons, this gives them some
// additional spacing.
i {
	margin-right: 1vw;
}

// H2 is the text we use for important text
h2 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}

.widget {
	// Sets the background to the intended
	// background_a value
	background: $background_a;
	
	// This adds a border to the left hand side.
	// .vw stands for viewport-width
	border: 1px solid $text_b;
	// border-left: .5vw solid $primary_color;
	border-radius: .75vw;
	border-top-left-radius: .25vw;
	border-bottom-right-radius: .25vw;
	box-shadow: -.2vw .2vw 0px .1vw alpha(darken($primary_color, 0%), 50%);
}